*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: $bg_primary;
}

a {
  text-decoration: none;
  color: $light;
}

ul {
  list-style: none;
  padding-left: 0;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;

  h1,
  h3 {
    margin-bottom: 0;
  }
}
