/* Contenu principal */
.content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  section:nth-child(even) {
    background-color: $light;
  }
}

/*-- Intro --*/
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15px;

  h1,
  p {
    text-align: center;
  }

  h1 {
    padding: 0 35px;
    font-weight: 700;
    font-size: 24px;
  }
  p {
    font-weight: 300;
    font-size: 18px;
  }
}

/*-- Fonctionnement --*/
.fonctionnement {
  padding: 30px 15px;

  .content {
    max-width: 1053px;
    align-items: flex-start;

    &__list {
      width: 100%;
      margin-top: 0;
      padding-left: 12.5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 25px;

      li {
        min-width: 286px;
        min-height: 72px;
        box-shadow: 0px 4px 15px 0px #00000026;
        border-radius: 20px;
        display: flex;
        align-items: center;
        padding-left: 73px;
        position: relative;
        &::before {
          position: absolute;
          font-size: 14px;
          color: white;
          background-color: $purple_dark;
          width: 24px;
          height: 24px;
          top: 24px;
          left: -12px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .l1 {
        @include bg_list('../../images/icons/phone.svg');
        &::before {
          content: '1';
        }
      }
      .l2 {
        @include bg_list('../../images/icons/list.svg');
        &::before {
          content: '2';
        }
      }
      .l3 {
        @include bg_list('../../images/icons/store.svg');
        &::before {
          content: '3';
        }
      }
    }
  }
}

/*-- Restaurants --*/
.restaurants {
  margin-bottom: 50px;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;

  article {
    border-radius: 15px;
  }
}
.cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  transform: scale(1);
  transition: transform 0.3s;
  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      transform: scale(1.05);
    }
  }

  @include responsive('medium') {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  @include responsive('large') {
    gap: 50px;
  }
  @include responsive('huge') {
    column-gap: 100px;
  }
}
.card {
  background-color: $light;
  overflow: hidden;
  position: relative;

  &__badge {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: $green_light;
    color: $green_dark;
    border-radius: 2px;
    padding: 5px 10px;
  }

  img {
    width: 309px;
    height: 180px;
    object-fit: cover;
  }
}
.infos {
  display: flex;
  justify-content: space-between;
  margin: 0 15px;

  &__text {
    h2 {
      font-size: 18px;
      margin-bottom: 0;
    }
    p {
      margin-top: 0;
      font-weight: 300;
      font-size: 17px;
    }
  }
}

.togglelike {
  margin-top: 22px;
  &__checkbox {
    display: none;

    &:checked ~ label {
      .empty {
        display: none;
      }
      .full {
        display: block;
      }
    }
  }
  &__switch {
    .empty {
      display: block;
    }
    .full {
      display: none;
    }
    cursor: pointer;
    width: 22px;
    height: 21px;
    img {
      cursor: pointer;
      width: 22px;
      height: 21px;
    }
  }
}
/* Fin Contenu principal */
