.menus {
  background-color: $light;
}

.menu {
  max-width: 1055px;
  margin: 0 auto;
  margin-top: -49px;
  background-color: $bg_primary;
  padding: 0 17px;
  border-radius: 34px 34px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-family: 'Shrikhand', cursive;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
      margin-bottom: 0;
    }
  }

  &__subtitle {
    width: 100%;
    max-width: 634px;

    h3 {
      text-transform: uppercase;
      font-weight: 300;
      font-size: 16px;
      position: relative;

      &::after {
        position: absolute;
        content: '';
        width: 40px;
        height: 3px;
        bottom: -8px;
        left: 0;
        background-color: $green_light;
      }
    }
  }

  &__content {
    width: 100%;
    max-width: 634px;

    // @include responsive('large') {
    //   display: flex;
    //   gap: 15px;
    // }
  }

  &__card {
    background-color: $light;
    margin-top: 15px;
    border-radius: 15px;
    box-shadow: 0px 4px 15px 0px #0000001a;
    overflow: hidden;
    display: flex;

    &:hover .menu__item {
      width: calc(100vw - 159px);
    }
    &:hover .menu__check {
      margin-right: 0;

      img {
        transform: rotate(360deg);
      }
    }
  }

  &__item {
    width: auto;
    max-width: calc(100vw - 100px);
    margin: 10px;
    @extend %cropped;
    transition-duration: 0.6s;

    h4 {
      @extend %cropped;
      margin: 0 0 5px;
    }
    p {
      @extend %cropped;
      margin: 0;
      font-weight: 300;
    }
  }

  &__price {
    margin-left: auto;
    padding: 10px;
    display: flex;
    align-items: flex-end;
  }

  &__check {
    min-width: 59px;
    border-radius: 0 15px 15px 0;
    background-color: $green_light;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -59px;
    transition-duration: 0.6s;

    img {
      transition: transform 0.6s ease-in-out;
    }
  }
}

.command {
  margin: 40px;
}
