/* colors */
/* Media queries breakpopionts */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  min-height: 100svh;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Recherche de localisation */
}
.header__banner {
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  z-index: 2;
  padding: 15px;
}
.header__banner > img {
  width: 197px;
}
.header .location {
  display: flex;
  justify-content: center;
  gap: 17px;
  width: 100%;
  background-color: #eaeaea;
  padding: 15px;
}
.header .location__icon {
  display: flex;
  justify-content: center;
}
.header .location__search {
  background-color: #eaeaea;
  width: 116px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

/* Contenu principal */
.content {
  display: flex;
  justify-content: center;
}
